<pre>TOKEN: <%= token %></pre>
<div class="row" id="main">

  <div class="col-12">

    <div id="form">
      <div class="form-group">
        <button
          id="btn-sample"
          class="btn btn-primary action-submit"
          v-on:click="upload"
          ><i class="fas fa-file-upload"></i>&nbsp;Upload</button>
        <button
          id="btn-sample"
          class="btn btn-primary action-submit"
          v-if="decomped"
          v-on:click="download"
          ><i class="fas fa-cloud-download-alt"></i>&nbsp;Download</button>
      </div>

      <form-upload
        v-bind:stat="form"
        ></form-upload>

    </div>


  </div>

</div>

<%- include("component/form-upload") %>

<script src="/asset/script/view/index.js"></script>
