<div>
Hello World!
</div>
<p>TOKEN: <%= token %></p>
<div class="row">

  <div class="col-12">
    <form id="form">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="uploading-addon">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload" name="upload" aria-describedby="uploading-addon" placeholder="Choose File...">
            <label class="custom-file-label" for="upload"></label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="file_name_format" value="%group%_sample">
      </div>


      <div class="replacer row">
        <div class="col-md-5">
          <div class="form-group">
            <input class="form-control" name="replacer[][from]">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <input class="form-control" name="replacer[][to]">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <button class="btn btn-info action-add-replacer-row">Button</button>
          </div>
        </div>
      </div>

    </form>

    <button class="btn btn-primary action-submit" id="btn-sample">Run</button>
  </div>


</div>

<script type="text/javascript">
(() => {

  var loading_timer = null;

  var data = {};

  function submit(){
    $.ajax({
      type: "post",
      url: "/run/generate_archive",
      data: new FormData($('#form')[0]),
      processData: false,
      contentType: false,
      complete: (r) => {
        var result = r.responseJSON || false;
        console.log(result);
        if(result && result.status){
          data = result.data;
        }else{
        }
      },
      error: (r) => {
        console.error(r);
      }
    })
  }

  function reset_file_input(input){
    input.val("");
    input.siblings('.custom-file-label').text(input.attr("placeholder"));
  }

  $(window).on('load', () => {
    reset_file_input($(':file'));
  });

  $('#container').on('click', '.action-submit', () => {
    submit();
  });

  $('#container').on('click', ':file', function(){
    reset_file_input($(this));
  });

  $('#container').on('change', ':file', function(){
    var
      input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '')
    ;
    if(label){
      input.siblings('.custom-file-label').text(label);
    }else{
      reset_file_input(input);
    }
  });

})();
</script>
