<pre>TOKEN: <%= token %></pre>
<div class="row" id="main">

  <div class="col-12">

    <div id="form" class="mb-5">

      <div class="form-group">
        <button
          id="btn-sample"
          class="btn btn-primary"
          v-on:click="upload"
          ><i class="fas fa-file-upload"></i>&nbsp;Upload</button>
        <button
          id="btn-sample"
          class="btn btn-primary"
          v-if="decomped"
          v-on:click="download"
          ><i class="fas fa-cloud-download-alt"></i>&nbsp;Download</button>
        <button
          id="btn-sample"
          class="btn btn-info"
          v-if="est"
          v-on:click="preview"
          ><i class="fas fa-eye"></i>&nbsp;Preview</button>
      </div>

      <div class="form-group">
        <p><small>
        以下のような構成のディレクトリを、After のように内容のファイル名と反転して再圧縮します。
        <br>『各社毎に個人用資料を作成したので、メール用に個人ごとにまとめなおす』・『外部サービスから出力した個人別のデータを個人IDを基準にまとめる』などに利用可能です。 ※ 内容にディレクトリが含まれる場合は、再帰的にトップの階層に保存されます。
        </small></p>
        <table class="table" style="font-size: .75em;">
          <thead>
            <th width="45%">Before</th>
            <th width="10%"></th>
            <th width="45%">After</th>
          </thead>
          <tbody>
          <tr>
            <td>
              <div v-if="decomped">
                <div v-for="s of decomped.structure.content.slice(0, 5)">
                  <div>
                    <i
                      class="fa"
                      v-bind:class="s.type == 'dir' ? 'fa-folder-open' : 'fa-file'"></i>
                    {{ s.name }}
                  </div>
                  <div v-if="s.content.length">
                    <div class="ml-4">{{
                      s.content.slice(0, 5).map((a) => { return a.name }).join(", ")
                    }}</div>
                  </div>
                </div>
                <div v-if="decomped.structure.content.length > 5">
                  ...
                </div>
              </div>
              <div v-else>
                <div>
                  <div><i class="fa fa-folder-open"></i> グループ１/</div>
                  <div class="ml-4">Yamada.pdf, Yamada.jpeg, Suzuki.pdf</div>
                </div>
                <div>
                  <div><i class="fa fa-folder-open"></i> グループ２/</div>
                  <div class="ml-4">Suzuki.pdf, 渡邊.pdf</div>
                </div>
                <div>
                  <div><i class="fa fa-folder-open"></i> グループ３/</div>
                  <div class="ml-4">Yamada.pdf</div>
                </div>
              </div>
            </td>
            <td><i class="fas fa-arrow-alt-circle-right" style="font-size: 2em; margin: 1em;"></i></td>
            <td>
              <div v-if="est">
                <div v-for="e of est.slice(0, 5)">
                  <div><i class="fa fa-folder-open"></i> {{ e.format }}/</div>
                  <div class="ml-4">{{
                    e.files.slice(0, 5).map((a) => { return a.format + a.ext }).join(", ")
                  }}</div>
                </div>
                <div v-if="est.length > 5">
                  ...
                </div>
              </div>
              <div v-else>
                <div>
                  <div><i class="fa fa-folder-open"></i> Yamada/</div>
                  <div class="ml-4">グループ１.pdf, グループ１.jpeg, グループ３.pdf</div>
                </div>
                <div>
                  <div><i class="fa fa-folder-open"></i> Suzuki</div>
                  <div class="ml-4">グループ１.pdf, グループ２.pdf</div>
                </div>
                <div>
                  <div><i class="fa fa-folder-open"></i> 渡邊</div>
                  <div class="ml-4">グループ２.pdf</div>
                </div>
              </div>
            <td>
          </tr>
          <tbody>
        </table>
      </div>

      <form-main
        v-bind:stat="form"
        @update="fetch_dest_info"
        ></form-main>

    </div>


  </div>

</div>

<%- include("component/form-main") %>
<%- include("component/preview") %>

<script src="/asset/script/view/index.js"></script>
