<style>
.swal-auto {
  width: auto !important;
  min-width: 960px;
  text-align: left;
}
</style>

<script src="/asset/vendor/tabulator/dist/js/tabulator.js"></script>
<link rel="stylesheet" href="/asset/vendor/tabulator/dist/css/tabulator.css">

<template id="template--form-main">
  <section>

    <div class="form-group">
      <form-upload-file
        v-bind:stat="stat"
        ></form-upload-file>
    </div>

    <!--

      AFTER GENERATION

    -->

    <div v-if="stat.decomped" v-hidden>

      <br>
      <hr>

      <h4>Settings</h4>

      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="form-input-toggle_archive_each_content"
            name="toggle_archive_each_content">
          <label class="form-check-label" for="form-input-toggle_archive_each_content">
            各エントリー毎のディレクトリをZIP形式で圧縮する。
          </label>
          <p class="text-muted"><small>
            デフォルトでは各エントリーはディレクトリとして分けられ、そのまま保存されますが、
            その分別後のディレクトリをZIP形式で圧縮します。
            <br>
            ※分別された状態をそのままメールで添付したい、などの場合に使用します。
          </small></p>
        </div>
      </div>

      <div class="form-group">

        <br>
        <h5>保存時エントリー名フォーマット</h5>
        <p><small>
        保存する際の名称を設定します。
        Group01/Yamada.pdf を Yamada様/Group01_資料.pdf のように、
        特定の文字を付与する場合などに変更します。
        </small></p>

        <div class="form-group">
          <label>グループ名フォーマット</label>
          <p class="text-muted"><small>
          分類の基となるフォルダの保存名のフォーマットです。『user_〇〇』などのように固定の文字を付与したい場合などに設定してください。
          </small></p>
          <input
            class="form-control"
            name="group_name_format"
            value="%name%"
            @input.lazy="watch_update"
            >
          <div><small>
            使用可能項目:
            <code>name = グループ名, number = N番目, count = グループ総数</code>
          </small></div>
        </div>

        <div class="form-group">
          <label>各エントリー名フォーマット</label>
          <p class="text-muted"><small>
          それぞれのファイルの保存名のフォーマットです。『資料_〇〇』のように固定の文字を付与したい場合などに設定してください。多階層に渡るフォルダ構成の場合は、"__" でフォルダ名が接続された文字がデフォルトのファイル名となります。※置換後のファイル名が重複すると、最後に保存されたファイルで上書きされてしまいます。あまり簡易なファイル名にならないように気をつけてください。
          </small></p>
          <div class="row">
            <div class="col-md-8">
              <input
                class="form-control"
                name="entry_name_format"
                value="%hier%"
                @input.lazy="watch_update"
                >
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text">接続文字</label>
                </div>
                <input
                  class="form-control"
                  name="entry_name_hier_glue_char"
                  value="__"
                  @input.lazy="watch_update"
                  >
              </div>
            </div>
          </div>
          <div><small>
            使用可能項目:
            <code>group = 上記グループ名, hier = 全フォルダ階層, directory = 直上のフォルダ名, number = グループN番目, index = グループ内ファイルN番目</code>
          </small></div>
        </div>

        <br>
        <h5>置換設定（再圧縮後のファイル・ディレクトリ名に含まれる文字を置換します。）</h5>
        <p><small>
        Group01/Yamada.pdf, Group02/MrYamada.pdf のように、
        ファイル名が統一されていない場合に特定の文字列を置換して結果が同じになる場合は同一のエントリーとして扱います。
        <br> FROM="Mr" TO="" とした場合、上記の２ファイルは Yamada/Group01.pdf, Yamada/Group02.pdf に変換されます。
        </small></p>


        <div class="form-group">
          <button
             class="btn btn-info action-add-replacer-row"
             v-on:click="add_row">１件追加する</button>
        </div>

        <div class="form-group">
          <form-upload-replacer
             v-bind:stat="stat"
             @update="$emit('update')"
             ></form-upload-replacer>
        </div>

      </div>
    </div>

</section>
</template>

<%- include('form-replacer') %>
<%- include('form-file') %>

<script src="/asset/script/component/form-main.js"></script>
