<template id="template--form-upload-file">
<div class="input-group">

  <select class="custom-select col-2" id="inputGroupSelect01" name="file_encoding">
    <option selected>文字コード</option>
    <option value="cp932" selected>Windows (CP932)</option>
    <option value="utf8">UTF-8</option>
    <option value="auto">自動判別（特殊文字不可）</option>
  </select>

  <div class="custom-file">
    <input
      id="upload"
      type="file"
      class="custom-file-input"
      name="upload"
      aria-describedby="uploading-addon"
      placeholder=""
      v-on:change="update_label">
    <label class="custom-file-label" for="upload">ZIPファイル選択</label>
  </div>

</div>
</template>
